.project {
    color: #FFC107;
    font-weight: 400px;
    font-size: 4vw;
}
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 60%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #FFC107;
}

.container {
    width: 80% !important;
}

.card-body {
    max-height: 70%;
    background-color: black;
    color: white;
}

.card-title {
    color: #FFC107;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}


