.navbar {
    background-color: black !important;
}

body {
    background-image: url("../images/background.jpg");
}

p label {
    font-family: 'Roboto Slab', serif;
}
.hello {
    color: white;
    font-weight: 400;
    font-size: 4vw;
}

.name {
    color: #FFC107;
    font-weight: 450;
    font-size: 7vw;

}

.statement {
    color: white;
    font-weight: 350;
    font-size: 3vw;

}

.linkd {
    padding-right: 2%;
}

